@page
@model AccessDeniedModel
@{
    Layout = "_ErrorTemplate";
    ViewData["Title"] = "Access denied";
}

<div class="empty">
    <div class="empty-header">403</div>
    <p class="empty-title text-danger">Access Denied</p>
    <p class="empty-subtitle text-muted">
        You do not have access to the resource requested.
    </p>
    <div class="empty-action">
        <a href="/Dashboard" class="btn btn-outline-primary">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><line x1="5" y1="12" x2="19" y2="12"></line><line x1="5" y1="12" x2="11" y2="18"></line><line x1="5" y1="12" x2="11" y2="6"></line></svg>
            back
        </a>
    </div>
</div>
@section Scripts{ 
<script>
    document.getElementById("body").classList.remove("border-primary");
    document.getElementById("body").classList.add("border-danger");
</script>
}
