@page
@model mhms3.Pages.CallJoinModel
@{
    ViewData["Title"] = "CallJoin";
}
<form method="post">
    <label asp-for="Key">Input key:</label>
    <input asp-for="Key"/><br><br>
    <input type="submit">
</form>
        
