@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="page-wrapper d-flex flex-fill">
    <div class="container-fluid d-flex flex-fill">
        <div class="row d-flex flex-fill">
            <div class="col-2">

            </div>
            <div class="col-10 my-auto">
                        <div class="align-self-end pb-5">
                        <img src="~/img/logo/memo_no_bg_dark.svg" alt="memo"/> 
                        </div>
                        <div class="btn-list">
                            <a class="btn btn-lg btn-azure" asp-page="/CallJoin">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-video" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M15 10l4.553 -2.276a1 1 0 0 1 1.447 .894v6.764a1 1 0 0 1 -1.447 .894l-4.553 -2.276v-4z"></path>
                                    <rect x="3" y="6" width="12" height="12" rx="2"></rect>
                                </svg>
                                Join a session
                            </a>
                            <a class="btn btn-lg btn-success" asp-area="Identity" asp-page="/Account/Login">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                    <path d="M20 12h-13l3 -3m0 6l-3 -3"></path>
                                </svg>
                                Login
                            </a>
                        </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.waves.min.js"></script>
    <script>
        VANTA.WAVES({
            el: '#my-background', // element selector string or DOM object reference
            color: 0x232e3c,
            waveHeight: 5,
            shininess: 30,
            waveSpeed: 0.5,
            zoom: 0.80
        })
    </script>

}


