@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="page-wrapper d-flex flex-fill">
    <div class="container-fluid d-flex flex-fill">
        <div class="row d-flex flex-fill">
            <div class="col-2">

            </div>
            <div class="col-10 my-auto">
                        <div class="align-self-end pb-5">
@*                            <svg xmlns="http://www.w3.org/2000/svg" width="445.008" height="177.192"><defs><path id="b" d="M195 205h205v60H195z" /><path id="a" d="M210 210h175v70H210z" /></defs><g aria-label="memo" transform="matrix(3.61885 0 0 3.74659 -711.957 -735.854)" style="font-size:40px;line-height:1.25;font-family:sans-serif;-inkscape-font-specification:sans-serif;letter-spacing:0;word-spacing:0;white-space:pre;shape-inside:url(#b);fill:#fff;fill-opacity:1;stroke:#fff;stroke-width:.999869;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"><path d="M202.214 240.348h14.733v-19.39l-8.588 8.589-8.588-8.588v20.534l-1.145-.038v-22.1h1.145l8.588 8.588 8.588-8.587h1.145v22.137l-15.878-.038zM240.153 239.241q-2.1 2.634-6.87 2.634-4.771 0-6.832-2.71t-2.061-8.74q0-6.031 2.06-8.741 2.062-2.71 6.833-2.71 5.534 0 7.519 3.626l-9.351 7.824h-1.794l9.656-8.053q-1.679-2.252-6.03-2.252-1.909 0-3.206.42-1.298.381-2.405 1.488-1.069 1.069-1.603 3.168-.534 2.061-.534 5.23 0 3.167.534 5.267.534 2.06 1.603 3.168 1.107 1.068 2.405 1.488 1.297.382 3.206.382 4.351 0 6.03-2.252zM249.848 240.348h14.733v-19.39l-8.588 8.589-8.588-8.588v20.534l-1.145-.038v-22.1h1.145l8.588 8.588 8.588-8.587h1.145v22.137l-15.878-.038zM284.123 220.539q-1.298-.42-3.206-.42t-3.206.42q-1.298.381-2.405 1.488-1.069 1.069-1.603 3.168-.534 2.061-.534 5.23 0 3.167.534 5.267.534 2.06 1.603 3.168 1.107 1.068 2.405 1.488 1.298.382 3.206.382t3.206-.382q1.298-.42 2.367-1.488 1.106-1.107 1.64-3.168.535-2.1.535-5.268 0-3.168-.534-5.229-.535-2.099-1.641-3.168-1.07-1.107-2.367-1.488zm3.626 18.626q-2.061 2.71-6.832 2.71t-6.832-2.71q-2.061-2.71-2.061-8.74 0-6.031 2.06-8.741 2.062-2.71 6.833-2.71 4.771 0 6.832 2.71t2.061 8.74q0 6.031-2.06 8.74z" style="font-style:normal;font-variant:normal;font-weight:400;font-stretch:normal;font-size:38.1684px;font-family:Megrim;-inkscape-font-specification:'Megrim, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#fff;fill-opacity:1;stroke:#fff;stroke-width:.999869;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" /></g><path d="m469.3 182.615-5.605-24.548c-.01-.037-.03-.07-.039-.108a2.843 2.843 0 0 0-.162-.447c-.031-.07-.06-.14-.097-.21-.015-.028-.025-.06-.04-.089-.083-.14-.183-.26-.283-.382-.023-.028-.034-.058-.057-.084l-.027-.03-.005-.005-18.683-21.156a3.115 3.115 0 0 0-1.02-.76l-24.823-11.54c-.034-.015-.072-.023-.106-.037a3.094 3.094 0 0 0-.322-.112c-.087-.026-.171-.052-.26-.07-.112-.024-.228-.036-.342-.048-.06-.006-.118-.023-.179-.026l-21.837-.928a3.192 3.192 0 0 0-.91.091l-29.885 7.432c-.041.011-.075.034-.116.046a3.105 3.105 0 0 0-1.277.723c-.019.016-.042.027-.061.045l-23.706 23.5c-.04.037-.066.085-.1.124a3 3 0 0 0-.278.343c-.048.071-.085.147-.127.222-.044.079-.097.15-.133.232-.016.037-.022.075-.036.111a2.84 2.84 0 0 0-.083.254 3.145 3.145 0 0 0-.088.367 3.008 3.008 0 0 0-.033.64c.001.045-.006.089-.002.133l2.48 24.545c.116 1.146.89 2.13 1.995 2.54l21.108 7.818 12.588 19.693c.02.032.051.055.072.087.031.045.053.095.087.14.06.075.133.13.197.2.076.082.15.164.234.236.113.098.235.178.36.259.084.053.164.11.254.158.145.074.298.126.454.176.083.028.16.063.246.085.24.057.482.09.727.092l.017.002h22.559l19.329 20.42c.604.636 1.44.98 2.294.98.397 0 .797-.074 1.178-.226 1.206-.478 1.98-1.635 1.94-2.901l-.516-16.769 3.28-7.953 21.972 2.651a3.112 3.112 0 0 0 3.02-1.39l14.44-22.24a2.991 2.991 0 0 0 .406-2.286zM440 140l12.903 14.612-30.055-5.377-2.246-18.252zm-19.89 14.92 31.123 5.57-37.865 21.172zm-3.353-4.125-31.76 11.934 29.563-29.79zm-10.22 32.493-24.546-12.92 30.71-11.54zM395.6 128.122l14.457.615-34.391 34.651-6.573-28.675zm-32.007 10.492 5.913 25.789-22.413-9.434zm-16.515 39.76-1.774-17.541 24.584 10.349-5.424 13.633zm22.647 10.035 5.788-14.544 27.334 14.39-22.605 16.607zm35.892 18.821a3.16 3.16 0 0 0-2.295-.98H388.71l17.225-12.657 1.356 3.3-.01.003 7.673 20.197zm44.618-4.966-22.39-2.701a3.12 3.12 0 0 0-3.28 1.88l-4.418 10.713a2.913 2.913 0 0 0-.178.631l-6.33-16.659.05-.02-2.088-5.078 44.385 2.373zm9.57-14.739-40.522-2.166 39.242-21.943 4.405 19.295z" style="fill:#fff;fill-opacity:1;stroke-width:1.53889" transform="translate(-29.365 -117.032)" /></svg>
*@                      <img src="~/img/logo/memo_no_bg_dark.svg" alt="memo"/> 
                        </div>
                        <div class="btn-list">
                            <a class="btn btn-lg btn-azure" asp-page="/CallJoin">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-video" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M15 10l4.553 -2.276a1 1 0 0 1 1.447 .894v6.764a1 1 0 0 1 -1.447 .894l-4.553 -2.276v-4z"></path>
                                    <rect x="3" y="6" width="12" height="12" rx="2"></rect>
                                </svg>
                                Join a session
                            </a>
                            <a class="btn btn-lg btn-success" asp-area="Identity" asp-page="/Account/Login">
                                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-login" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                    <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2"></path>
                                    <path d="M20 12h-13l3 -3m0 6l-3 -3"></path>
                                </svg>
                                Login
                            </a>
                        </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@0.5.21/dist/vanta.waves.min.js"></script>
    <script>
        VANTA.WAVES({
            el: '#my-background', // element selector string or DOM object reference
            color: 0x232e3c,
            waveHeight: 5,
            shininess: 30,
            waveSpeed: 0.5,
            zoom: 0.80
        })
    </script>

}


