@font-face {
	font-family: 'summernote';
	src: url(../../assets/fonts/summernote.eot) format('embedded-opentype'),
	url(../../assets/fonts/summernote.eot) format('embedded-opentype'),
	url(../../assets/fonts/summernote.woff2) format('woff2'),
	url(../../assets/fonts/summernote.woff) format('woff'),
	url(../../assets/fonts/summernote.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}