<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tabler.min.css" rel="stylesheet">
    <link href="https://emoji-css.afeld.me/emoji.css" rel="stylesheet">
    <title>@ViewData["Title"]</title>
</head>
<body class="antialiased d-flex flex-column bg-dark">
    <!--These are main content to insert into layout-->

    <header class="navbar navbar-expand-md navbar-transparent d-print-none">
        <div class="container-fluid">
            <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3">
                <a href=".">
                    <img src="./img/logo/memo_no_bg_dark.svg" alt="MEMO" class="navbar-brand-image" width="110" height="32">
                </a>
            </h1>
            <div class="navbar-nav flex-row order-md-last">
            </div>
            <!--Nav menu-->
        </div>
    </header>
    <div class="page-wrapper px-3 pb-2 pt-2">
        <div class="row d-flex flex-fill">
            <div class="col-md-9 d-flex flex-fill">
                <span class="border border-primary d-flex flex-fill rounded" style="background-color: black;">
                    <video src="http://techslides.com/demos/samples/sample.mp4" style="height:auto; width:100%"></video>
                </span>
            </div>
            <div class="col-md-3">
                <div class="row mb-3 d-flex flex-fill" style="height: 20vh;">
                    <div class="col d-flex flex-fill">
                        <span class="border border-primary d-flex flex-fill rounded" style="background-color: black;">
                            <video src="http://techslides.com/demos/samples/sample.mp4" style="height:20vh; width:100%;"></video>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body px-0 py-0">
                                <table class="card-table table">
                                    <tr>
                                        <td>
                                            <i class="em em-neutral_face" aria-role="presentation" aria-label="NEUTRAL_FACE"></i>
                                        </td>
                                        <td>
                                            <div class="meter" id="neutral"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="em em-smiley" aria-role="presentation" aria-label="SMILEY"></i>
                                        </td>
                                        <td>
                                            <div class="meter" id="happy"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="em em-frowning" aria-role="presentation" aria-label="FROWNING"></i>
                                        </td>
                                        <td>
                                            <div class="meter" id="sad"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="em em-angry" aria-role="presentation" aria-label="ANGRY"></i>
                                        </td>
                                        <td>
                                            <div class="meter" id="angry"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="em em-fearful" aria-role="presentation" aria-label="FEARFUL"></i>
                                        </td>
                                        <td>
                                            <div class="meter" id="fear"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="em-svg em-confounded" aria-role="presentation" aria-label="CONFOUNDED"></i>
                                        </td>
                                        <td>
                                            <div class="meter" id="disgust"></div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <i class="em em-astonished" aria-role="presentation" aria-label="ASTONISHED"></i>
                                        </td>
                                        <td>
                                            <div class="meter" id="surprise"></div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-xl pb-3">
            <div class="row align-items-center">
                <div class="col-auto mx-auto">
                    <a class="btn btn-danger"> End Call</a>
                </div>
            </div>
        </div>

    </div>


    <!--js-->
    <script src="./js/tabler.min.js"></script>
</body>
</html>