<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/tabler.min.css" rel="stylesheet">
    <title>@ViewData["title"]</title>
</head>
<body class="antialiased  border-primary d-flex flex-column">
    <!--These are main content to insert into layout-->
    <div class="page page-center">
        <div class="container-tight py-4">
            <div class="text-center mb-4">
                <a href="/Index"><img src="/img/logo/memo_no_bg_blue.svg" alt="" height="50"></a>
            </div>
            @RenderBody()
        </div>
    </div>
    <!--js-->
    <script src="/js/tabler.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
