@page
@model mhms3.Pages.Manager.DashboardModel
@{
    Layout = "_DashboardManager";
}
<div class="page-body">
    <div class="container-xl d-flex flex-column justify-content-center">
        <div class="empty">
            <p class="empty-title">Dashboard Under Construction.</p>
            <p class="empty-subtitle text-muted">
                It will be added soon.
            </p>
        </div>
    </div>
</div>
